<!-- src/app/movie-card/movie-card.component.html -->
<app-navigation />
<div class="movie-view">
  <mat-card *ngFor="let movie of movies">
    <mat-card-header>
      <mat-card-title
        ><h2>{{ movie.Title }}</h2></mat-card-title
      >
      <mat-card-subtitle>
        <span class="movie-subtitle">
          Directed by: {{ movie.Director.Name }}</span
        >
      </mat-card-subtitle>
    </mat-card-header>
    <img
      class="movie-card-image"
      src="{{ movie.ImagePath }}"
      alt="{{ movie.Title }}"
    />
    <mat-card-actions>
      <button
        class="movie-details"
        mat-button
        (click)="openSynopsis(movie.Title, movie.Description)"
        color="basic"
      >
        Synopsis
      </button>
      <button
        class="movie-details"
        mat-button
        (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
        color="basic"
      >
        Genre
      </button>
      <button
        class="movie-details"
        mat-button
        (click)="
          openDirector(
            movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birth
          )
        "
        color="basic"
      >
        Director
      </button>
      <button
        class="movie-details"
        mat-button
        class="mat-icon-button"
        *ngIf="!isFavorite(movie._id)"
        (click)="addToFavorites(movie._id)"
        color="primary"
      >
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button
        class="movie-details"
        mat-button
        class="mat-icon-button"
        *ngIf="isFavorite(movie._id)"
        (click)="deleteFavorites(movie._id)"
        color="primary"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
